{% if section.settings.message %}
  <style>
    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

  {% if section.settings.message %}
    {% if section.settings.home_page_only == false or template.name == 'index' %}
      <style>
        .announcement-bar {
          background-color: {{ section.settings.color_bg }};
        }

        .announcement-bar--link:hover {
          {% assign brightness = section.settings.color_bg | color_brightness %}

          {% if brightness <= 192 %}
            {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
          {% else %}
            {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
            background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
          {% endif %}
        }

        .announcement-bar__message {
          color: {{ section.settings.color_text }};
        }
      </style>

      {% if section.settings.message_link == blank %}
        <div class="announcement-bar">
      {% else %}
        <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
      {% endif %}
      <!-- <div style="position: relative;">
        <a href="#"><span style="position: absolute; right: 15px;color: {{section.settings.color_text}};font-size:1.2em">X</span></a>
      </div> -->
        <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>

      {% if section.settings.message_link == blank %}
        </div>
      {% else %}
        </a>
      {% endif %}

    {% endif %}
  {% endif %}
{% schema %}
{
  "name": {
    "en": "Promo Bar"
  },
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Announcement bar"
      }
    },
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "en": "Show announcement"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "en": "Home page only"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "message_text",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Announce something here"
      }
    },
    {
      "type": "url",
      "id": "message_link",
      "label": {
        "en": "Link"
      },
      "info": {
        "en": "Optional"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Bar"
      },
      "default": "#7796a8"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "en": "Text"
      },
      "default": "#fff"
    }
  ]
}
{% endschema %}
